<div class="panel panel-default">
  <div class="panel-heading">Reports</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon" id="search-label">Search</span>
          <input type="text" ng-model="reportsController.searchString" class="form-control" aria-describedby="search-label">
        </div>
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="reportsController.showActiveOnly">
            Hide inactive members
          </label>
        </div>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->
  </div>

  <table class="table table-hover">
    <thead>
      <th>Member</th>
      <th>Totals</th>
      <th>Active?</th>
    </thead>
    <tbody>
      <tr ng-repeat="report in reportsController.reports | filter: reportsController.filter() | orderBy: 'name'" ng-click="reportsController.click(report)">
        <td>{{ report.memberName }}</td>
        <td>
          <ul>
            <li ng-repeat="shop in report.results">
              {{ shop.hours }} hours in {{ shop.shop }}
              <ul>
                <li ng-repeat="item in shop.items | orderBy: 'item'">
                  {{ item.quantity }} {{ item.item }}
                </li>
              </ul>
            </li>
          </ul>
          Total hours: {{ reportsController.totalHours(report.results) }}
        </td>
        <td>{{ report.isActive }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="report-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          {{ reportsController.form.memberName }}
        </h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <th>Date</th>
            <th>Workshop</th>
            <th>Hours</th>
            <th>Items</th>
          </thead>
          <tbody>
            <tr ng-repeat="entry in reportsController.form.deets | orderBy: 'createdAt'">
              <td>{{ entry.createdAt | date }}</td>
              <td>{{ entry.shopName }}</td>
              <td>{{ entry.hours }}</td>
              <td>
                <ul>
                  <li ng-repeat="item in entry.items | orderBy: 'itemName'">
                    {{ item.quantity }} {{ item.itemName }}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
