<div class="panel panel-default">
  <div class="panel-heading">Reports</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon" id="search-label">Search</span>
          <input type="text" ng-model="reportsController.searchString" class="form-control" aria-describedby="search-label">
        </div>
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="reportsController.showActiveOnly">
            Hide inactive members
          </label>
        </div>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3">
        <button type="button" class="btn btn-primary" ng-click="reportsController.click(null)">Add New Item</button>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->
  </div>

  <table class="table table-hover">
    <thead>
      <th>Member</th>
      <th>Totals</th>
      <th>Active?</th>
    </thead>
    <tbody>
      <tr ng-repeat="report in reportsController.reports | filter: reportsController.filter() | orderBy: 'name'" ng-click="reportsController.click(report)">
        <td>{{ report.memberName }}</td>
        <td>
          <ul>
            <li ng-repeat="shop in report.results">
              {{ shop.hours }} hours in {{ shop.shop }}
              <ul ng-repeat="item in shop.items">
                {{ item.quantity }} of {{ item.item }}
              </ul>
            </li>
          </ul>

        </td>
        <td>{{ report.isActive }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="report-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          {{ reportsController.form.id ? 'Item ' + reportsController.form.id : 'New Item'}}
        </h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Item</label>
            <input type="text" class="form-control" id="name" ng-model="reportsController.form.name">
          </div>
          <div class="form-group">
            <label for="shop">Workshop</label>
            <select ng-model="reportsController.form.shopId" ng-options="shop.id as shop.name for shop in reportsController.shops">
            </select>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="reportsController.form.isActive">Active
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="reportsController.save()">Save changes</button>
      </div>
    </div>
  </div>
</div>
