<div class="panel panel-default">
  <div class="panel-heading">Members</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon" id="search-label">Search</span>
          <input type="text" ng-model="membersController.searchString" class="form-control" aria-describedby="search-label">
        </div>
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-3">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="membersController.showActiveOnly">Hide inactive members
          </label>
        </div>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3">
        <button type="button" class="btn btn-primary" ng-click="membersController.click(null)">Add New Member</button>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->
  </div>

  <table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Active?</th>
    </thead>
    <tbody>
      <tr ng-repeat="member in membersController.members | filter: membersController.filter() | orderBy: 'name'" ng-click="membersController.click(member)">
        <td>{{ member.name }}</td>
        <td>{{ member.active }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="member-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form class="" ng-submit="membersController.submit()">
          {{ membersController.form.id || 'New Member' }}
          <input type="text" name="name" ng-model="membersController.form.name">
          <input type="text" name="imageUrl" ng-model="membersController.form.imageUrl">
          <input type="checkbox" name="active" ng-model="membersController.form.active">
          <input type="submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
