<h1>Posted to database:</h1>
<p>
  Member: {{ finalController.entry.memberName }} ({{ finalController.entry.memberId }})
</p>
<p>
  Hours: {{ finalController.entry.hours }}
</p>
<p>
  Shop: {{ finalController.entry.shopName }} ({{ finalController.entry.shopId }})
</p>

<div ng-repeat="item in finalController.entry.items | filter: finalController.filterFn()">
  {{ item.name }}
  ({{ item.id }})
  qty: {{ item.quantity }}
</div>

<button type="button" name="button" ng-click="finalController.click()">OK</button>
