<div class="items">
  <div class="centered">Additional items for {{ itemsController.entry.shopName }}</div>

  <div class="centered">
    <table>
      <tr ng-repeat="item in itemsController.entry.items">
        <td class="right">
          {{ item.name }}
        </td>
        <td>
          <span class="button" ng-click="itemsController.click('-', item)">-</span
          ><span class="datum">{{ item.quantity }}</span
          ><span class="button" ng-click="itemsController.click('+', item)">+</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="button right" ng-click="itemsController.clickNext()">Next</div>
</div>
