<div class="report">
  <div class="centered">
    <div class="container">
      <h2>{{ reportController.entry.memberName }} ({{ reportController.entry.membershipTier}})</h2>
      <ul>
        <li ng-repeat="shop in reportController.data">
          {{ shop.hours }} hours in {{ shop.shop }}
          <ul>
            <li ng-repeat="item in shop.items">
              {{ item.quantity }} {{ item.item }}
            </li>
          </ul>
        </li>
      </ul>
      Total hours: {{ reportController.total }}
    </div>
  </div>
  <nav>
    <button class="right" type="button" name="confirm" ng-click="reportController.clickDone()">Done</button>
  </nav>

</div>
