<div class="resources" ng-controller="ItemsController as itemsController">
  <div ng-controller="HoursController as hoursController">
    <table class="centered">
      <tr>
        <td>
          Hours in {{ itemsController.entry.shopName }}
        </td>
        <td>
          <button ng-click="hoursController.click('+')">+</button>
          <span class="datum">{{ hoursController.entry.hours }}</span>
          <button ng-click="hoursController.click('-')">-</button>
        </td>
      </tr>
      <tr ng-repeat="item in itemsController.entry.items | filter: { isActive: true } | orderBy: 'name'">
        <td class="right">
          {{ item.name }}
        </td>
        <td>
          <button ng-click="itemsController.click('+', item)">+</button>
          <span class="datum">{{ item.quantity }}</span>
          <button ng-click="itemsController.click('-', item)">-</button>
        </td>
      </tr>
    </table>
  </div>

  <nav>
    <button  class="left" type="button" name="back" ng-click="resourcesController.clickBack()">Back</button>
    <button  class="right" type="button" name="confirm" ng-click="resourcesController.clickConfirm()"
      ng-disabled="resourcesController.disableConfirm()" ng-class="{ disabled: resourcesController.disableConfirm() }">Confirm</button>
  </nav>
</div>
