<div class="shops">
  <div class="centered">Välj verkstad</div>
  <div class="circles-list">
    <div ng-repeat="shop in shopsController.shops | filter: {isActive: true} | orderBy: 'name'" class="stretchy-wrapper">
      <a ng-click="shopsController.click(shop)">
        <img ng-src="{{ shop.imageUrl }}" alt="{{ shop.imageUrl }}" />
        <div class="circle-text">
          <span ng-repeat="name in shop.name.split(' ')">{{ name }}</span>
        </div>
      </a>
    </div>
  </div>

  <nav>
    <button type="button" name="back" ng-click="shopsController.clickBack()">Tillbaka</button>
  </nav>
</div>
