<div class="summary">
  <div class="centered">
    <div class="container">
      <p>
        {{ summaryController.entry.memberName }}
      </p>
      <p>
        {{ summaryController.entry.hours }} timmar i {{ summaryController.entry.shopName }}
      </p>
      <div ng-repeat="item in summaryController.entry.items | filter: summaryController.filterFn() | orderBy: 'name'">
        {{ item.quantity }} {{ item.name }}
      </div>
    </div>
  </div>


  <nav>
    <button class="left" type="button" name="back" ng-click="summaryController.clickBack()">Tillbaka</button>
    <button class="right" type="button" name="confirm" ng-click="summaryController.clickConfirm()">Bekräfta</button>
  </nav>
</div>
